<section class="rs-container rs-block rs-block-bg">
    <header>
        <h2 class="rs-title rs-title-h2 rs-title-h2--band">Часто задаваемые вопросы</h2>
    </header>
    <div class="rs-faq">
        <div class="rs-faq__item">
            <h3 class="rs-faq__question" data-toggle-active=".rs-faq__item">Как быстро арендовать автовышку?</h3>
            <div class="rs-faq__answer">
                <p>Вы можете оставить заявку через сайт или позвонить нам.</p>
            </div>
        </div>
        <div class="rs-faq__item">
            <h3 class="rs-faq__question" data-toggle-active=".rs-faq__item">Какие документы нужны для аренды?</h3>
            <div class="rs-faq__answer">
                <p>Нужен только паспорт или другой документ, удостоверяющий личность.</p>
            </div>
        </div>
        <div class="rs-faq__item">
            <h3 class="rs-faq__question" data-toggle-active=".rs-faq__item">Можно ли заказать автовышку с оператором?</h3>
            <div class="rs-faq__answer">
                <p>Да, все наши автовышки предоставляются с опытными операторами.</p>
            </div>
        </div>
    </div>
</section>