<footer class="rs-block-bg rs-block-bg--orange">
    <div class="rs-container rs-footer">
        <div class="rs-footer__left">
            <p class="rs-footer__logo">
                <img src="img/logo-footer.svg" loading="lazy" alt="">
            </p>
            <ul class="rs-footer__details">
                <li>ООО "РенталСкай"</li>
                <li>УНП 193735242</li>
                <li>Юр. адрес: 220055, Беларусь, г. Минск, пр-д Масюковщина, д. 4, каб. 36</li>
            </ul>
        </div>
        <div class="rs-footer__right">
            <div class="rs-footer__contacts">
                <a href="tel:+375 (44) 788-94-81">
                    <svg>
                        <use xlink:href="img/s-icons.svg#phone"></use>
                    </svg>
                    <span>+375 (44) 788-94-81</span>
                </a>
                <a href="mailto:rentalskyby@gmail.com">
                    <svg>
                        <use xlink:href="img/s-icons.svg#mail-orange"></use>
                    </svg>
                    <span>rentalskyby@gmail.com</span>
                </a>
            </div>
            <div class="rs-footer__social">
                <p class="rs-footer__social_title">Мы в социальных сетях:</p>
                <div class="rs-footer__social_links">
                    <!--=include block/socials-4.html -->
                </div>
            </div>
        </div>
    </div>
</footer>

<!--=include block/popup-form.html -->
<!--=include block/popup-event-success.html -->
<!--=include block/popup-event-error.html -->