<div class="rs-catalog-slider__wrap swiper" data-slider="catalog">
    <div class="swiper-wrapper">
        <div class="rs-catalog-slider__item rs-card swiper-slide">
            <a href="avtovishka10m.html" class="rs-card__link">
                <div class="rs-card__img">
                    <img src="img/avtovishka-12/1.webp" loading="lazy" alt="">
                </div>
                <div class="rs-card__info">
                    <p class="rs-card__name">Автовышка Reno, 10 м</p>
                    <p class="rs-card__desc">Базовое шасси: Reno Mascott.</p>
                    <span class="rs-card__btn rs-btn rs-btn__orange">Подробнее</span>
                </div>
            </a>
        </div>
        <div class="rs-catalog-slider__item rs-card swiper-slide">
            <a href="avtovishka22m.html" class="rs-card__link">
                <div class="rs-card__img">
                    <img src="img/avtovishka-22/1.webp" loading="lazy" alt="">
                </div>
                <div class="rs-card__info">
                    <p class="rs-card__name">Автовышка BC 22, 22 м</p>
                    <p class="rs-card__desc">Базовое шасси: ЗИЛ 131.</p>
                    <span class="rs-card__btn rs-btn rs-btn__orange">Подробнее</span>
                </div>
            </a>
        </div>
        <div class="rs-catalog-slider__item rs-card swiper-slide">
            <a href="avtovishka26m.html" class="rs-card__link">
                <div class="rs-card__img">
                    <img src="img/avtovishka-25/1.webp" loading="lazy" alt="">
                </div>
                <div class="rs-card__info">
                    <p class="rs-card__name">Автовышка RUTHMANN T255, 25 м</p>
                    <p class="rs-card__desc">Базовое шасси: Renault M180.</p>
                    <span class="rs-card__btn rs-btn rs-btn__orange">Подробнее</span>
                </div>
            </a>
        </div>
        <div class="rs-catalog-slider__item rs-card swiper-slide">
            <a href="avtovishka28mf.html" class="rs-card__link">
                <div class="rs-card__img">
                    <img src="img/avtovishka-28iveco/1.webp" loading="lazy" alt="">
                </div>
                <div class="rs-card__info">
                    <p class="rs-card__name">Автовышка Telebasket 27J, 28 м</p>
                    <p class="rs-card__desc">Базовое шасси: FORD Cargo.</p>
                    <span class="rs-card__btn rs-btn rs-btn__orange">Подробнее</span>
                </div>
            </a>
        </div>
        <div class="rs-catalog-slider__item rs-card swiper-slide">
            <a href="avtovishka28m.html" class="rs-card__link">
                <div class="rs-card__img">
                    <img src="img/avtovishka-28maz/1.webp" loading="lazy" alt="">
                </div>
                <div class="rs-card__info">
                    <p class="rs-card__name">Автовышка ПМС 328, 28 м</p>
                    <p class="rs-card__desc">Базовое шасси: МАЗ.</p>
                    <span class="rs-card__btn rs-btn rs-btn__orange">Подробнее</span>
                </div>
            </a>
        </div>
        <div class="rs-catalog-slider__item rs-card swiper-slide">
            <a href="avtovishka30m.html" class="rs-card__link">
                <div class="rs-card__img">
                    <img src="img/avtovishka-30/1.webp" loading="lazy" alt="">
                </div>
                <div class="rs-card__info">
                    <p class="rs-card__name">Автовышка МАЗ АГП-30, 30 м</p>
                    <p class="rs-card__desc">Базовое шасси: МАЗ.</p>
                    <span class="rs-card__btn rs-btn rs-btn__orange">Подробнее</span>
                </div>
            </a>
        </div>
        <div class="rs-catalog-slider__item rs-card swiper-slide">
            <a href="avtovishka45m.html" class="rs-card__link">
                <div class="rs-card__img">
                    <img src="img/avtovishka-45/1.webp" loading="lazy" alt="">
                </div>
                <div class="rs-card__info">
                    <p class="rs-card__name">Автовышка Multitel 44T/J, 45 м</p>
                    <p class="rs-card__desc">Базовое шасси: MERCEDES-BENZ 2628.</p>
                    <span class="rs-card__btn rs-btn rs-btn__orange">Подробнее</span>
                </div>
            </a>
        </div>
    </div>
</div>