.rs-404 {
	text-align: center;
	& p {
		margin-top: 40px;
		font-size: 20px;
		font-weight: 500;
	}
	& a {
		color: inherit;
		text-decoration: underline;
		&:hover {
			color: var(--color-orange-31);
		}
	}
}