.rs-catalog-list {
	&__wrap {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(237px, 1fr));
		gap: 48px;
		margin-top: 30px;
		padding-left: 55px;
		padding-right: 55px;
	}
}
@media(max-width: 1024px) {
	.rs-catalog-list {
		&__wrap {
			grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
			gap: 10px;
			padding-left: 0;
			padding-right: 0;
		}
	}
}
