.rs-faq {
	margin-top: 30px;
	&__item {
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		}
		&.active {
			& .rs-faq__question {
				&::before {
					transform: rotate(180deg);
					top: -6px;
				}
			}
			& .rs-faq__answer {
				max-height: 300px;
			}
		}
	}
	&__question {
		position: relative;
		font-size: 22px;
		cursor: pointer;
		padding-left: 30px;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 6px;
			bottom: 0;
			margin: auto;
			width: 0;
			height: 0;
			font-size: 0;
			line-height: 1;
			border: 6px solid transparent;
			border-top: 12px solid var(--color-orange-33);
		}
	}
	&__answer {
		padding-top: 10px;
		font-size: 18px;
		max-height: 0;
		overflow: hidden;
		transition: max-height .3s;
	}
}
@media(max-width: 1024px) {
	.rs-faq {
		&__item {
			margin-bottom: 15px;
		}
		&__question {
			font-size: 20px;
		}
		&__answer {
			font-size: 16px;
		}
	}
}