.rs-maintenance {
	&__wrap {
		padding: 20px 20px 0;
	}
	& .transition {
		&.swiper-slide {
			transition: 2s;
			&-active {
				scale: 1.2;
				z-index: 2;
				&::before {
					opacity: 0;
				}
			}
		}
	}
	&__img {
		position: relative;
		padding-top: 64%;
		margin-bottom: 20px;
		& img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: cover;
			border-radius: 10px;
		}
	}
	&__title {
		min-height: 44px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 10px;
	}
	&__desc {
		text-align: justify;
		font-size: 14px;
	}
}
@media(max-width: 1024px) {
	.rs-maintenance {
		&__wrap {
			margin-left: -20px;
			margin-right: -20px;
			overflow: auto;
			&::-webkit-scrollbar {
				display: none;
			}
			& .swiper-wrapper {
				gap: 16px;
			}
		}
		&__item {
			width: auto;
			max-width: 320px;
			min-width: 320px;
		}
	}
}
@media(min-width: 1024px) {
	.rs-maintenance {
		&__wrap {
			padding: 58px 16px;
		}
		&__img {
			margin-bottom: 37px;
		}
		&__title {
			min-height: 48px;
			font-size: 20px;
			margin-bottom: 12px;
		}
		&__desc {
			font-size: 16px;
		}
	}
}